* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Permanent Marker";
}

body {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1484503793037-5c9644d6a80a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1530&q=80);
}

.one {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.player {
  text-align: center;
  position: relative;
}

.player-choice {
  position: relative;
}

li {
  padding-top: 50px;
  font-size: 50px;
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
}

.pcr:hover {
  cursor: pointer;
}
.pcr:active {
  text-decoration: underline overline red;
}
.pcs:hover {
  cursor: pointer;
}
.pcs:active {
  text-decoration: underline overline red;
}
.pcp:hover {
  cursor: pointer;
}
.pcp:active {
  text-decoration: underline overline red;
}

.two {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.opponent {
  font-size: 25px;
}

.opponent-choice {
  font-size: 100px;
  text-align: center;
}

.three {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-score {
  color: red;
}

.opponent-score {
  color: red;
}

.round {
  color: red;
  font-size: 25px;
  transition: all 0.5s;
}

.four {
  position: absolute;
  left: 5%;
  top: 5%;
}

.reset:hover {
  cursor: pointer;
}
.reset:active {
  text-decoration: underline overline red;
}

.hidden {
  display: none;
}

.start {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.start-message {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  position: absolute;
  z-index: 10;
  text-align: center;
  font-size: 100px;
}

.start-message:hover {
  cursor: pointer;
}

.red {
  color: red;
}

.small {
  font-size: 20px;
}

.win {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  position: absolute;
  z-index: 10;
  text-align: center;
  font-size: 100px;
}

.win:hover {
  cursor: pointer;
}

.lose {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  position: absolute;
  z-index: 10;
  text-align: center;
  font-size: 100px;
}

.lose:hover {
  cursor: pointer;
}

.anime {
  animation: anime.5s;
}

@keyframes anime {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
